/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.like-icon:hover .core {
    fill: var(--heart-contour);
    transition-delay: 0s;
}

.like-icon:hover .main-body {
    fill: var(--heart-contour);
    transition-delay: 0.05s;
}

.like-icon:active .core {
    fill: var(--like-main-body-color);
    transition-delay: 0s;
}

.like-icon:active .main-body {
    fill: var(--like-main-body-color);
    transition-delay: 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--like-main-body-color);
    transition-delay: 0s;
}

.like-icon.like-icon.is-liked .main-body {
    fill: var(--like-main-body-color);
    transition-delay: 0.05s;
}

.like-icon.like-icon.is-liked .contour {
    fill: var(--like-main-body-color);
    transition-delay: 0.3s 0.06s;
}

.like-icon.is-liked .heart {
    transform-origin: center;
    animation: heart-scale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
    transform-origin: center;
    animation: heart-sparks 0.3s ease-in 0.3s 1;
}

@keyframes heart-scale {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.25;
    }
    100% {
        scale: 1;
    }
}

@keyframes heart-sparks{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}